Azure/Auth-Notification-App.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "logicAppName": {
        "type": "string",
        "defaultValue": "Auth-Notification-App",
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "logicAppLocation": {
        "type": "string",
        "defaultValue": "[resourceGroup().location]",
        "allowedValues": [
          "[resourceGroup().location]",
          "eastasia",
          "southeastasia",
          "centralus",
          "eastus",
          "eastus2",
          "westus",
          "northcentralus",
          "southcentralus",
          "northeurope",
          "westeurope",
          "japanwest",
          "japaneast",
          "brazilsouth",
          "australiaeast",
          "australiasoutheast",
          "westcentralus",
          "westus2"
        ],
        "metadata": {
          "description": "Location of the Logic App."
        }
      },
      "When_a_message_is_received_in_a_queue_(auto-complete)Frequency": {
        "type": "string",
        "defaultValue": "Minute"
      },
      "When_a_message_is_received_in_a_queue_(auto-complete)Interval": {
        "type": "int",
        "defaultValue": 1
      },
      "owner_Tag": {
        "type": "string",
        "defaultValue": ""
      },
      "office365_name": {
        "type": "string",
        "defaultValue": "office365"
      },
      "office365_displayName": {
        "type": "string",
        "defaultValue": ""
      },
      "servicebus_name": {
        "type": "string",
        "defaultValue": "servicebus"
      },
      "servicebus_displayName": {
        "type": "string",
        "defaultValue": "Auth-Notification-SB"
      },
      "servicebus_namespace_name": {
        "type": "string",
        "defaultValue": "Auth-Notification-SB"
      },
      "servicebus_resourceGroupName": {
        "type": "string",
        "defaultValue": "REPLACE__servicebus_rg"
      },
      "servicebus_accessKey_name": {
        "type": "string",
        "defaultValue": "RootManageSharedAccessKey"
      }
    },
    "variables": {},
    "resources": [
      {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2016-06-01",
        "name": "[parameters('logicAppName')]",
        "location": "[parameters('logicAppLocation')]",
        "dependsOn": [
          "[resourceId('Microsoft.Web/connections', parameters('office365_name'))]",
          "[resourceId('Microsoft.Web/connections', parameters('servicebus_name'))]"
        ],
        "properties": {
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "$connections": {
                "defaultValue": {},
                "type": "Object"
              }
            },
            "triggers": {
              "When_a_message_is_received_in_a_queue_(auto-complete)": {
                "recurrence": {
                  "frequency": "[parameters('When_a_message_is_received_in_a_queue_(auto-complete)Frequency')]",
                  "interval": "[parameters('When_a_message_is_received_in_a_queue_(auto-complete)Interval')]"
                },
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['servicebus']['connectionId']"
                    }
                  },
                  "method": "get",
                  "path": "/@{encodeURIComponent(encodeURIComponent('authqueue'))}/messages/head",
                  "queries": {
                    "queueType": "Main"
                  }
                }
              }
            },
            "actions": {
              "Initialize_variable": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "messageBody",
                      "type": "string",
                      "value": "@base64ToString(triggerBody()?['ContentData'])"
                    }
                  ]
                }
              },
              "Parse_JSON": {
                "runAfter": {
                  "Initialize_variable": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson",
                "inputs": {
                  "content": "@variables('messageBody')",
                  "schema": {
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "user_code": {
                        "type": "string"
                      },
                      "verification_uri": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                }
              },
              "Send_an_email_(V2)": {
                "runAfter": {
                  "Parse_JSON": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "body": {
                    "Body": "<p>@{body('Parse_JSON')?['message']}<br>\n<br>\n@{body('Parse_JSON')?['user_code']}<br>\n@{body('Parse_JSON')?['verification_uri']}</p>",
                    "Subject": "Device Flow Authentication Token Refresh Needed",
                    "To": "@body('Parse_JSON')?['email']"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['office365']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                }
              }
            },
            "outputs": {}
          },
          "parameters": {
            "$connections": {
              "value": {
                "office365": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/office365')]",
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_name'))]",
                  "connectionName": "[parameters('office365_name')]"
                },
                "servicebus": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/servicebus')]",
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_name'))]",
                  "connectionName": "[parameters('servicebus_name')]"
                }
              }
            }
          }
        },
        "tags": {
          "owner": "[parameters('owner_Tag')]"
        }
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "location": "[parameters('logicAppLocation')]",
        "name": "[parameters('servicebus_name')]",
        "properties": {
          "api": {
            "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/servicebus')]"
          },
          "displayName": "[parameters('servicebus_displayName')]",
          "parameterValues": {
            "connectionString": "[listkeys(resourceId(parameters('servicebus_resourceGroupName'),'Microsoft.ServiceBus/namespaces/authorizationRules', parameters('servicebus_namespace_name'), parameters('servicebus_accessKey_name')), '2017-04-01').primaryConnectionString]"
          }
        }
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "location": "[parameters('logicAppLocation')]",
        "name": "[parameters('office365_name')]",
        "properties": {
          "api": {
            "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',parameters('logicAppLocation'),'/managedApis/office365')]"
          },
          "displayName": "[parameters('office365_displayName')]"
        }
      }
    ],
    "outputs": {}
  }
  